<h1>Edit batting_history</h1>

<form id="edit-batting_history" name="batting_history">
  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value="<%= date %>" >
  </div>

  <div class="field">
    <label for="at_bats"> at_bats:</label>
    <input type="text" name="at_bats" id="at_bats" value="<%= at_bats %>" >
  </div>

  <div class="field">
    <label for="hits"> hits:</label>
    <input type="text" name="hits" id="hits" value="<%= hits %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Batting history" />
  </div>

</form>

<a href="#/index">Back</a>
