<h1>Listing batting_histories</h1>

<table id="batting_histories-table">
  <tr>
    <th>Date</th>
    <th>At bats</th>
    <th>Hits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Batting history</a>