!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BaseballHistory
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      $(function() {
        window.router = new BaseballHistory.Routers.BattingHistoriesRouter({batting_histories: #{@batting_histories.to_json.html_safe}});
        Backbone.history.start();
      });
  %body
    #batting_histories
